@import './variables.css';

:root {
  --color-link-active: var(--color-gray);
}

.link {
  color: var(--color-link-color);
  text-decoration: none;
  font-family: var(--font-family-seconday);
}

.link:after {
  content:"";
  display:block;
  clear:both;
}

.link:hover,
.link:focus {
  text-decoration: none;
}

.link--active {
  color: var(--color-link-active);
}

